@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(115deg, #89d340 10%, #18ab29 90%);
}
.btn-download {
  background-color: #89d340;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 8px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #12239e;
  margin-top: 30px;
  max-width: 15em;
}
.btn-download:hover {
  background-color: #5cbf2a;
  color: #fff;
}
.container {
  max-width: 900px;
  background: #fff;
  width: 900px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fixed-icons {
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  z-index: 1000;
}

.fixed-icons img {
  width: auto;
  height: 80px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.fixed-icons img:hover {
  transform: scale(1.1);
}
section#colaborador form {
  color: white;
  font-weight: bolder;
}

section#colaborador input {
  background-color: white;
  color: black;
  font-weight: bolder;
}

input#nome {
  size: 300px;
}

section#lider form {
  color: #363636;
  font-weight: bolder;
}

section#lider input {
  background-color: white;
  color: black;
  font-weight: bolder;
}
@media (max-width: 1024px) {
  /* Tablets */
  .container {
    max-width: 80%;
    width: 80%;
    padding: 20px 30px 10px 30px;
  }
  .fixed-icons {
    bottom: 15px;
    right: 30px;
    gap: 30px;
  }

  .fixed-icons img {
    height: 70px;
  }
}

@media (max-width: 768px) {
  /* Celulares grandes */
  .container {
    max-width: 90%;
    width: 90%;
    padding: 15px 20px 10px 20px;
  }
  .fixed-icons {
    bottom: 10px;
    right: 20px;
    gap: 20px;
  }

  .fixed-icons img {
    height: 60px;
  }
}

@media (max-width: 480px) {
  /* Celulares pequenos */
  .container {
    max-width: 95%;
    width: 95%;
    padding: 10px 15px 10px 15px;
  }
  .fixed-icons {
    bottom: 10px;
    right: 15px;
    gap: 15px;
  }
  .fixed-icons img {
    height: 50px;
  }
}
